<h1>Liste des tâches</h1>
<p>
  <%= link_to "Créer une nouvelle tâche", create_path %>
</p>

<% @tasks.each do |task| %>
  <h2><%= task.name + " " +
    if task.done
      "[X]"
    else
      "[ ]"
    end
     %>
  </h2>
  <%= link_to "Détails", task_path(task) %>
  <%= link_to "Editer", edit_path(task) %>
  <%= link_to "Supprimer", delete_path(task),
    method: :delete,
    data: {confirm: "Es-tu certain?"}
  %>

<% end %>


